@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUnder {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero > h1 {
  animation: fadeUp 1.2s ease-out forwards;
}
.fadeUp {
  animation: fadeUp 1.2s ease-out forwards;
}
.fadeUnder {
  animation: fadeUnder 1.2s ease-out forwards;
}
