* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

    >main {

        .hero {
            position: relative;
            width: 100%;
            height: 260vh;
            background-image: url(/assets/img/heroBg.jpg);
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;

            >span {
                width: 100%;
                height: 10px;
                position: absolute;
                top: 150px;

            }

            >h1 {
                width: 100%;
                position: absolute;
                top: 145px;
                transform: translateX(-50%);
                line-height: 160px;
                text-align: center;
                font-size: 180px;
                text-transform: uppercase;
            }

            >img {
                position: absolute;
                z-index: 10;
                top: 350px;
                left: 50%;
                transform: translateX(-50%);
                transition: transform 0.2s linear;
            }
        }


        .sec2 {
            width: 100%;
            height: 300vh;
            background-color: #fff;
            transform: translateY(0);
            transition: transform 0.5s ease;

            >h2 {
                color: #000;
                width: 100%;
                position: absolute;
                top: 50px;
                text-align: center;
                font-size: 80px;
                text-transform: uppercase;
            }
        }
    }
}