* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;

    >main {

        .hero {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 240vh;
            /* background-image: url(../assets/img/heroBg.jpg); */
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;

            >span {
                width: 100%;
                height: 10px;
                position: absolute;
                top: 150px;

            }

            >h1 {
                width: 100%;
                position: absolute;
                top: 145px;
                transform: translateX(-50%);
                line-height: 160px;
                text-align: center;
                font-size: 180px;
                text-transform: uppercase;
            }

            >img {
                position: absolute;
                z-index: 10;
                top: 350px;
                left: 50%;
                transform: translateX(-50%);
                transition: transform 0.2s linear;
            }
        }


        .sec2 {
            position: relative;
            z-index: 10;
            width: 100%;
            height: 120vh;
            background-color: white;
            transform: translateY(0);
            transition: transform 0.5s ease;

            .overlay {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(255, 255, 255, 0);
                pointer-events: none;
                transition: background-color 0.5s ease;
                z-index: 999;
            }

            >h2 {
                color: black;
                width: 100%;
                position: absolute;
                top: 50px;
                text-align: center;
                font-size: 90px;
                text-transform: uppercase;
            }

            >span {
                position: absolute;
                top: 270px;
                left: 50%;
                transform: translate(-50%);
                color: #575757;
                font-weight: bold;
                text-align: center;
            }

            >div {
                width: 100%;
                display: flex;
                gap: 100px;
                justify-content: center;
                align-items: center;

                >div {
                    position: relative;
                    top: 400px;
                    width: 250px;
                    height: 250px;
                    background-color: #fff;
                    padding: 3px;

                    >img {
                        position: relative;
                        z-index: 10;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        object-position: center;
                        border-radius: 15px;

                    }

                    >div {

                        >img {
                            position: absolute;
                            top: 4px;
                            width: 95%;
                            height: 95%;
                            object-fit: cover;
                            object-position: center;
                            border-radius: 15px;
                        }

                        >img:nth-child(1) {
                            transition: transform 0.5s ease;
                        }

                        >img:nth-child(2) {
                            transition: transform 0.75s ease;
                        }

                        >img:nth-child(3) {
                            transition: transform 0.99s ease;
                        }
                    }

                    &:hover {

                        >div {

                            opacity: 1;

                            >img:nth-child(1) {
                                transform: translate(-140px, -120px) rotate(-25deg);
                            }

                            >img:nth-child(2) {
                                transform: translate(0, -200px);
                            }

                            >img:nth-child(3) {
                                transform: translate(140px, -120px) rotate(25deg);
                            }
                        }
                    }

                }
            }

        }

        .sec3,
        .sec5 {
            position: relative;
            z-index: 50;
            padding-top: 20px;
            display: flex;
            justify-content: space-between;
            background-color: #fff;
            padding-inline: 5%;

            .text {
                width: 50%;

                h2 {
                    position: sticky;
                    top: 50px;
                    font-size: 140px;
                    color: #000;
                    letter-spacing: -7px;
                }
            }

            .content {
                width: 50%;
                color: #000;

                >div {
                    margin-bottom: 30px;

                    >video {
                        width: 100%;
                        margin-bottom: 30px;
                        scale: 1.05;
                        opacity: 98%;
                    }

                    >span {
                        color: #677eff;
                        font-weight: bold;
                        font-size: 30px;
                    }

                    >h3 {
                        font-size: 50px;
                        margin-top: 20px;
                    }

                    >p {
                        margin-top: 10px;
                        width: 80%;
                        color: #575757;
                    }
                }
            }
        }

        .sec4 {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 218vh;
            /* background-image: url(../assets/img/sec4/part2.jpg); */
            background-position: top center;
            background-repeat: no-repeat;
            background-size: cover;

            >h2 {
                width: 100%;
                position: absolute;
                top: 145px;
                line-height: 160px;
                text-align: center;
                font-size: 180px;
                text-transform: uppercase;
            }

            >img {
                width: 100%;
                position: absolute;
                z-index: 10;
                bottom: -180px;
                transition: transform 0.2s linear;
                scale: 1;
            }
        }

        .sec6 {
            position: relative;
            z-index: 0;
            width: 100%;
            height: 200vh;
            /* background-image: url(../assets/img/sec6/sec6Bg.jpg); */
            background-position: bottom center;
            background-repeat: no-repeat;
            background-size: cover;

            >h2 {
                width: 100%;
                position: absolute;
                top: 80px;
                line-height: 160px;
                text-align: center;
                font-size: 180px;
                text-transform: uppercase;
            }

            >img {
                width: 100%;
                position: absolute;
                z-index: 10;
                bottom: 0px;
                transition: transform 0.2s linear;
                scale: 0.8;
                transform-origin: bottom;
            }
        }

        >footer {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 50px;
            width: 100%;
            background-color: #fff;
            padding-bottom: 50px;



            >h2 {
                color: #000;
                font-size: 90px;
                text-align: center;
            }

            >div {
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.247);
                width: 600px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 50px;

                >span {

                    >a {

                        >i {
                            padding-right: 10px;
                            color: #000;
                            font-size: 22px;
                        }
                    }
                }

                >div {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    >div {
                        color: #000;

                        >h4 {
                            margin-bottom: 5px;
                            font-weight: bold;
                            font-size: 18px;
                        }

                        >p {
                            font-size: 14px;
                        }
                    }

                    >img {
                        width: 80px;
                        padding: 5px;
                    }
                }

            }

        }

    }
}